header {
background-color: #012a4a;
margins: 5px;
vertical-align: center;
}

h1, h3 {
text-align: center;
color: #a9d6e5;
font-family: Arial, Helvetica, sans-serif;
}
h2, ol, ul, li, main {
text-align: center;
background-color: #e3f2fd;
color: #012a4a;
list-style-position: inside;
}
main > footer {
background-color: #012a4a;
text-align: center;
color: #a9d6e5}