header {
background-color: #012a4a;
margins: 5px;
border-radius: 5%;
padding: 5%;
}

h1, h3 {
text-align: center;
color: #a9d6e5;
font-family: Arial, Helvetica, sans-serif;
height: 40px;
}
h2, ol, ul, li, main {
text-align: center;
background-color: #e3f2fd;
color: #012a4a;
list-style-position: inside;
}
footer {
background-color: #012a4a;
text-align: center;
color: #a9d6e5;
font-size: 12px;
}
a:link { color: #001233;    }
a:visited { color: #64b5f6; }
a:hover { color: #0ead69;   }
a:active { color: #03045e;  }
